@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Nosifer&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap'); /*hallowen*/

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Creepster&family=Nosifer&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


strong{
    color: red;
}

body{
    background-image: url(imagens/hacker04.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    min-width: 320px;
    position: relative;
}

#titulo{
    color: red;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-size: 4em;
    font-family: "Nosifer", sans-serif;
}

article{
    margin-top: 50px;
}

h2{
    font-family: "Sriracha", sans-serif;
}


.container{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin: -8px -20px 0px -20px;
}

#ouviufalar{
    color: black;
    background: linear-gradient(to bottom, white, #ffffff8f);
    padding: 5px 20px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: -8px;
    margin-right: -20px;
}

#oquee{
    color: black;
    background: linear-gradient(to bottom, white, #ffffff8f);
    padding: 5px 20px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: -8px;
    margin-right: -20px;
}

#comoacessar{
    color: black;
    background: linear-gradient(to bottom, white, #ffffff8f);
    padding: 5px 20px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: -8px;
    margin-right: -20px;

}

p, ul{
    font-family: "Sriracha", serif;    
    text-align: justify;
    text-indent: 20px;
    font-size: 18px;
}

ul{
    list-style: "🔴";
}

li{
    margin-bottom: 10px;
}

.lista{
    background-color: black;
    margin: -8px;
    color: white;
    padding: 20px 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: -20px;
}

.lista > h2{
    text-align: center;
    color: red;
    
}

.riscosarticle{
    background-image: url(imagens/pontaiceberg.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    margin: -20px;
}

.riscos{
    background:linear-gradient(to bottom, #ff0000, #ff000000);
    width: 100vw;
    padding-bottom: 15px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    margin: -30px -20px 15px -20px;
    text-align: center;
}

.riscodescritos{
    background: linear-gradient(to bottom, #ffffff59, #ffffff00 );
    padding: 5px 20px 5px 0px;
    width: 100vw;
    margin: -26px -20px 0px -20px;
    padding-left: 150px;
    padding-top: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.topicorisco{
    font-weight: bolder;
    color: black;
    background-color: rgba(255, 0, 0, 0.664);
    padding: 0px 5px;
    text-shadow: 0px 0px 0px black;
    border-radius: 3px;
}

.beneficiodesvantagem{
    font-family: "Sriracha", serif;    
    margin-top: 100px;
}

.rodape{

}